# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod
!go.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# 3rd party libraries for OpenGL
raw-examples/learn-opengl/3rd-party

# Lua 5.4.*
raw-examples/CppWithLua/lua-5.4.*

# V8 10.6.194
raw-examples/CppWithJs/v8_10.6.194

# SDL 3.2.16
raw-examples/AOI/SDL3-3.2.16*

# Output directories
build
.xmake
xbuild
xbuild-*
raw-examples/game-backend/protos/pprotos
__pycache__
