# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod
!go.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# 3rd party libraries for OpenGL
raw-examples/learnopengl/3rd-party

# Lua 5.4.*
raw-examples/CppWithLua/lua-5.4.*

# Output directories
build
.xmake
xbuild
xbuild-*
raw-examples/game-backend/protos/pprotos
__pycache__
